<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <% if !list.blank? %>
     <% for item in  %>
       
     <% end %>
   <% else %>
     
   <% end %>
   
 </body>
</html>


